body {
  padding-top: 70px;
}
.bg-blue{
  background-color: #337ab7;
}
.white{
  color: white !important;
}
.padding-t-70{
  padding-top: 70px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
.text-decoration-none{
  text-decoration: none;
}
.text-decoration-none:hover{
  text-decoration: none;
}
#AboutMe ,#MyProjects, #Skills {
  color: red;
}
